// 颜色定义规范
$color-background = #fff 
$color-background-d = #f2f2f2 //浅灰色
$color-background-image = #fbfcfc //浅灰色
$color-theme = #76e1ae //浅绿色
$color-text = #333 //淡黑色
$color-text-d = #999 //灰色
$color-line = #e2e5e7 //下划线

//字体定义规范
$font-size-small-s = 12px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-x = 18px
$font-size-medium-l = 19px
$font-size-large = 20px
$font-size-large-x = 22px
$font-size-large-l = 24px